<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faces Dataset Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="nav">
        <p>Faces Dataset Visualization</p>
        <nav>
            <ul>
                <li><a href="#subject-faces" class="nav-link">Similar Faces of a Subject</a></li>
                <li><a href="#distinct-people" class="nav-link">Distinct People</a></li>
                <li><a href="#pca-face" class="nav-link">PCA Average Face</a></li>
                <li><a href="#bar-graph" class="nav-link">Bar Graph</a></li>
            </ul>
        </nav>
    </div>
    <div class="content wide" id="distinct-people">
        <h2>Distinct People</h2>
        <img src="{{ url_for('show_40_distinct_people') }}" alt="Distinct People">
    </div>
    <div class="content narrow" id="pca-face">
        <h2>PCA Average Face</h2>
        <img src="{{ url_for('pca') }}" alt="PCA Average Face">
    </div>
    <div class="content narrow" id="subject-faces">
        <h2>Similar Faces of a Subject</h2>
        <form action="/show_10_faces_of_n_subject" method="get">
            <div class="entry">
                <label for="subject_id">Subject ID:</label>
                <input type="number" id="subject_id" name="subject_id" min="0" max="39">
            </div>
            <button type="submit" class="btn">Show Faces</button>
        </form>
    </div>
    <div class="content wide" id="bar-graph">
        <h2>Number of Samples for Each Class</h2>
        <img src="{{ url_for('bar_graph') }}" alt="Bar Graph">
    </div>    
    
</body>
</html>
